<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Escape Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin: 10px;
        }
        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Escape Rooms</h1>
    <div class="row">
        <div class="col-sm-4" th:each="room : ${escapeRooms}">
            <div class="card">
                <img th:src="@{'/images/' + ${room.id} + '.jpg'}"
                     th:alt="${'Image of ' + room.name + ' escape room'}" 
                     class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${room.name}">Room Name</h5>
                    <p class="card-text">
                        <span th:text="'$' + ${room.price} + ' per hour'">Price</span>
                    </p>
                    <a th:href="@{'/bookRoom?roomId=' + ${room.id}}" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
